<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
>
    <testsuites>
        <testsuite name="instants">
            <file>./tests/etcoder/Time/Instants/YearTest.php</file>
            <file>./tests/etcoder/Time/Instants/MonthTest.php</file>
            <file>./tests/etcoder/Time/Instants/DayTest.php</file>
            <file>./tests/etcoder/Time/Instants/TimeTest.php</file>
            <file>./tests/etcoder/Time/Instants/MinuteTest.php</file>
            <file>./tests/etcoder/Time/Instants/HourTest.php</file>
        </testsuite>
        <testsuite name="format">
            <directory>./tests/etcoder/Time/Format/</directory>
        </testsuite>
        <testsuite name="iterators">
            <directory>./tests/etcoder/Time/Iterators/</directory>
        </testsuite>
        <testsuite name="periods">
            <directory>./tests/etcoder/Time/Periods/PeriodTest.php</directory>
            <directory>./tests/etcoder/Time/Periods/PeriodsTest.php</directory>
            <directory>./tests/etcoder/Time/Periods/PeriodInstantPositionTest.php</directory>
            <directory>./tests/etcoder/Time/Periods/CalculatorTest.php</directory>
            <directory>./tests/etcoder/Time/Periods/PeriodsSortTest.php</directory>
            <directory>./tests/etcoder/Time/Periods/SubtractTest.php</directory>
        </testsuite>
    </testsuites>
</phpunit>